<ul>
    <li>
        <a href="/registro"> Cadastro de Clientes </a>
    </li>
    <li>
        <a href="/list"> Listagem de Clientes </a>
    </li>

    <li>
        <a href="/registroProdutos"> Cadastro de Produtos </a>
    </li>
    <li>
        <a href="/listProdutos"> Listagem de Produtos </a>
    </li>

</ul>

<hr>

<!-- Barra de navegação (linkando ela em todas as paginas)-->